.app {
  height: 100vh;
  position: relative;
}
.app-bg {
  width: 1200px;
  height: 500px;
}

.container {
  width: 1110px;
  height: 350px;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left: 42px;
  top: 83px;
}
.item-wait {
  width: 66px;
  height: 20px;
  transition: all 1s ease;
  border: 2px solid #000;
  position: absolute;
}
.item-ongoing {
  width: 66px;
  height: 40px;
  transition: all 1s ease;
  border: 2px solid #000;
  position: absolute;
}

.latency {
  color: blue;
}

.latency-min {
  color: red;
}

#high-wait-queue {
  left: 160px;
  top: 170px;
  position: absolute;
}

#high-ongoing-queue {
  left: 760px;
  top: 170px;
  position: absolute;
}

#low-wait-queue {
  left: 160px;
  top: 260px;
  position: absolute;
}

#low-ongoing-queue {
  left: 760px;
  top: 260px;
  position: absolute;
}